@import "./mylocalvariables";


$accordion-button-bg:                     $accordion-bg;
$accordion-button-color:                  $drum-primary-tinted;
$accordion-button-active-bg:              $drum-danger;
$accordion-button-active-color:           $accordion-bg;
$input-btn-focus-width:                   0;
$card-height:                             100%;